body {
  font-family: "Raleway", sans-serif;
  background-color: grey;
  color: black;
  font-size: 25px;
  border: solid cadetblue 8px;
  position: absolute;
}

.white-font {
  color: black;
}
.main-header {
  color: black;
  margin: 50px;
}

.first,
.second,
.third {
  color: black;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  border: cadetblue 15px solid;
}

.main-header {
  text-align: center;
}
.white-font,
.black-font,
.Green-font {
  text-align: center;
  background-color: burlywood;
  margin-left: 700px;
  margin-right: 700px;
}
.img,
.img2,
.img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500;
}
.background {
  background-color: white;
  margin-left: 600px;
  margin-right: 600px;
}
